.container1 {
	display: flex;
	border-radius: 8px;
	color: black;
	background-color: #453b6d;
	padding: 10px;
	justify-content: space-between;
	flex-wrap: wrap;
	width: auto;
	margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.container1>div {
    flex: 1 1 25%;
}

.itemHeader {
	border-radius: 8px;
	color: lightgrey;
	padding: 10px;
	font-size: 0.7vw;
}
.itemBody {
	border-radius: 8px;
	color: #ffffff;
	font-weight: bolder;
	padding: 10px;
	font-size: 1.5vw;
}

.table{
	border-radius: 50px;
	font-size: 15px;
}

.wrapper {
 ;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 50px;
  flex: 1 100%;
}

.header {
  color: #75dac9;
  font-size: 30px;
  background-color: #1f7879;
  padding: 50px;
  height: 150px;
}

.footer {
  color: #ffffff;
  font-size: 20px;
  background-color: #31bdbe;
  display: flex;
  justify-content: center;
  height: 150px;

}

.footer1 {
  font-size: 12px;
  font-weight: thin;
  padding: 12px;
  text-align: right;

}

.footer2 {
  font-size: 30px;

}

body {
  padding: 20px; 
}


.barchart{
  background-color: #31bdbe;
}
